In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px

In [2]:
df=pd.read_csv(r"C:\Users\SAHITHI V\Downloads\zomato_data.csv")

In [3]:
df1=pd.read_csv(r"C:\Users\SAHITHI V\Downloads\Geographical Coordinates.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  object
 1   book_table                 51717 non-null  object
 2   rate                       43942 non-null  object
 3   votes                      51717 non-null  int64
 4   rest_type                  51490 non-null  object
 5   dish_liked                 23639 non-null  object
 6   cuisines                   51672 non-null  object
 7   approx_costfor_two_people  51371 non-null  object
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: int64(1), object(9)
memory usage: 3.9+ MB

In [5]:
df.shape

(51717, 10)

In [6]:
df1.shape

(26, 3)

In [7]:
df1.head()

       listed_incity   Latitude  Longitude
0       Banashankari  12.939333  77.553982
1  Bannerghatta Road  12.952660  77.605048
2       Basavanagudi  12.941726  77.575502
3          Bellandur  12.925352  77.675941
4       Brigade Road  12.967358  77.606435

In [8]:
df.isnull().sum()

online_order                     0
book_table                       0
rate                          7775
votes                            0
rest_type                      227
dish_liked                   28078
cuisines                        45
approx_costfor_two_people      346
listed_intype                    0
listed_incity                    0
dtype: int64

In [9]:
df["online_order"].value_counts()

online_order
Yes    30444
No     21273
Name: count, dtype: int64

In [10]:
df["online_order"]=df["online_order"].replace({"Yes":1,"No":0})

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\1750059825.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["online_order"]=df["online_order"].replace({"Yes":1,"No":0})

In [11]:
df["online_order"].value_counts()

online_order
1    30444
0    21273
Name: count, dtype: int64

In [12]:
df["book_table"].value_counts()

book_table
No     45268
Yes     6449
Name: count, dtype: int64

In [13]:
df["book_table"]=df["book_table"].replace({"Yes":1,"No":0})

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\1362550689.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["book_table"]=df["book_table"].replace({"Yes":1,"No":0})

In [14]:
df["book_table"].value_counts()

book_table
0    45268
1     6449
Name: count, dtype: int64

In [15]:
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [16]:
df["rate"]=df["rate"].replace({'-':np.nan,'NEW':np.nan})

In [17]:
df["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', nan, '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [18]:
df["rate"]=df["rate"].apply(lambda x:str(x).replace('/5',''))
df["rate"].unique()

array(['4.1', '3.8', '3.7', '3.6', '4.6', '4.0', '4.2', '3.9', '3.1',
       '3.0', '3.2', '3.3', '2.8', '4.4', '4.3', 'nan', '2.9', '3.5',
       '2.6', '3.8 ', '3.4', '4.5', '2.5', '2.7', '4.7', '2.4', '2.2',
       '2.3', '3.4 ', '3.6 ', '4.8', '3.9 ', '4.2 ', '4.0 ', '4.1 ',
       '3.7 ', '3.1 ', '2.9 ', '3.3 ', '2.8 ', '3.5 ', '2.7 ', '2.5 ',
       '3.2 ', '2.6 ', '4.5 ', '4.3 ', '4.4 ', '4.9', '2.1', '2.0', '1.8',
       '4.6 ', '4.9 ', '3.0 ', '4.8 ', '2.3 ', '4.7 ', '2.4 ', '2.1 ',
       '2.2 ', '2.0 ', '1.8 '], dtype=object)

In [19]:
df["rate"]=df["rate"].replace("nan",np.nan)

In [20]:
df["rate"]=pd.to_numeric(df["rate"])

In [21]:
df["rate"].fillna(df["rate"].median(),inplace=True)

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\1159463601.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rate"].fillna(df["rate"].median(),inplace=True)

In [22]:
df["rate"].isnull().sum()

0

In [23]:
df.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity'],
      dtype='object')

In [24]:
df["approx_costfor_two_people"].unique()

array(['800', '300', '600', '700', '550', '500', '450', '650', '400',
       '900', '200', '750', '150', '850', '100', '1,200', '350', '250',
       '950', '1,000', '1,500', '1,300', '199', '80', '1,100', '160',
       '1,600', '230', '130', '50', '190', '1,700', nan, '1,400', '180',
       '1,350', '2,200', '2,000', '1,800', '1,900', '330', '2,500',
       '2,100', '3,000', '2,800', '3,400', '40', '1,250', '3,500',
       '4,000', '2,400', '2,600', '120', '1,450', '469', '70', '3,200',
       '60', '560', '240', '360', '6,000', '1,050', '2,300', '4,100',
       '5,000', '3,700', '1,650', '2,700', '4,500', '140'], dtype=object)

In [25]:
df["approx_costfor_two_people"]=df["approx_costfor_two_people"].apply(lambda x:str(x).replace(',',''))

In [26]:
df["approx_costfor_two_people"]=df["approx_costfor_two_people"].replace({"nan":np.nan})

In [27]:
df["approx_costfor_two_people"]=pd.to_numeric(df["approx_costfor_two_people"])

In [28]:
df["approx_costfor_two_people"].fillna(df["approx_costfor_two_people"].median(),inplace=True)

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\102310705.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["approx_costfor_two_people"].fillna(df["approx_costfor_two_people"].median(),inplace=True)

In [29]:
df["votes"].isnull().sum()

0

In [30]:
df["rest_type"].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', nan, 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Pub, Bar', 'Casual Dining, Pub',
       'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

In [31]:
df["rest_type"].replace({np.nan:"Unknown"},inplace=True)

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\3173911608.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["rest_type"].replace({np.nan:"Unknown"},inplace=True)

In [32]:
df["dish_liked"].replace({np.nan:"Not Available"},inplace=True)

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\2280062606.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["dish_liked"].replace({np.nan:"Not Available"},inplace=True)

In [33]:
df["cuisines"].replace({np.nan:"Other"},inplace=True)

C:\Users\SAHITHI V\AppData\Local\Temp\ipykernel_48836\2524323534.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["cuisines"].replace({np.nan:"Other"},inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   online_order               51717 non-null  int64
 1   book_table                 51717 non-null  int64
 2   rate                       51717 non-null  float64
 3   votes                      51717 non-null  int64
 4   rest_type                  51717 non-null  object
 5   dish_liked                 51717 non-null  object
 6   cuisines                   51717 non-null  object
 7   approx_costfor_two_people  51717 non-null  float64
 8   listed_intype              51717 non-null  object
 9   listed_incity              51717 non-null  object
dtypes: float64(2), int64(3), object(5)
memory usage: 3.9+ MB

In [35]:
df.isnull().sum()

online_order                 0
book_table                   0
rate                         0
votes                        0
rest_type                    0
dish_liked                   0
cuisines                     0
approx_costfor_two_people    0
listed_intype                0
listed_incity                0
dtype: int64

In [36]:
merged_data=pd.merge(df, df1, on='listed_incity', how='left')

In [37]:
merged_data

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,12.939333,77.553982
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari,12.939333,77.553982
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari,12.939333,77.553982
...,...,...,...,...,...,...,...,...,...,...,...,...
51712,0,0,3.6,27,Bar,Not Available,Continental,1500.0,Pubs and bars,Whitefield,NaN,NaN
51713,0,0,3.7,0,Bar,Not Available,Finger Food,600.0,Pubs and bars,Whitefield,NaN,NaN
51714,0,0,3.7,0,Bar,Not Available,Finger Food,2000.0,Pubs and bars,Whitefield,NaN,NaN
51715,0,1,4.3,236,Bar,"Cocktails, Pizza, Buttermilk",Finger Food,2500.0,Pubs and bars,Whitefield,NaN,NaN
51716,0,0,3.4,13,"Bar, Casual Dining",Not Available,"Finger Food, North Indian, Continental",1500.0,Pubs and bars,Whitefield,NaN,NaN

# How many restaurants serve North Indian cuisine?

In [38]:
cuisines=merged_data["cuisines"].str.lower().str.replace(" ","")

In [39]:
cuisines.unique()

array(['northindian,mughlai,chinese', 'chinese,northindian,thai',
       'cafe,mexican,italian', ..., 'northindian,streetfood,biryani',
       'chinese,mughlai', 'northindian,chinese,arabian,momos'],
      dtype=object)

In [40]:
north_indian=cuisines.str.find("northindian")

In [41]:
north_indian[north_indian!=-1].shape

(21085,)

In [42]:
# so there are totally 21085 restaurants serve north indian cuisine

# What cuisine is most commonly offered by restaurants in Bangalore?

In [43]:
merged_data.columns

Index(['online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'dish_liked', 'cuisines', 'approx_costfor_two_people', 'listed_intype',
       'listed_incity', 'Latitude', 'Longitude'],
      dtype='object')

In [44]:
list_of_cuisines=merged_data["cuisines"].values.tolist()

In [45]:
list_of_cuisines=[i.split(",") for i in list_of_cuisines]

In [46]:
list_of_cuisines=[j.strip()  for i in list_of_cuisines for j in i]

In [47]:
list_of_cuisines=pd.Series(list_of_cuisines)

In [48]:
list_of_cuisines.value_counts()

North Indian    21085
Chinese         15547
South Indian     8644
Fast Food        8096
Biryani          6492
                ...
Sindhi              4
Pan Asian           3
Hot dogs            3
Indian              2
Malwani             2
Name: count, Length: 108, dtype: int64

# Which locality in Bangalore has the highest average cost for dining (for two people)?

In [49]:
merged_data.head()

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,12.939333,77.553982
3,0,0,3.7,88,Quick Bites,Masala Dosa,"South Indian, North Indian",300.0,Buffet,Banashankari,12.939333,77.553982
4,0,0,3.8,166,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600.0,Buffet,Banashankari,12.939333,77.553982

In [50]:
merged_data["rest_type"].unique()

array(['Casual Dining', 'Cafe, Casual Dining', 'Quick Bites',
       'Casual Dining, Cafe', 'Cafe', 'Quick Bites, Cafe',
       'Cafe, Quick Bites', 'Delivery', 'Mess', 'Dessert Parlor',
       'Bakery, Dessert Parlor', 'Pub', 'Bakery', 'Takeaway, Delivery',
       'Fine Dining', 'Beverage Shop', 'Sweet Shop', 'Bar',
       'Beverage Shop, Quick Bites', 'Confectionery',
       'Quick Bites, Beverage Shop', 'Dessert Parlor, Sweet Shop',
       'Bakery, Quick Bites', 'Sweet Shop, Quick Bites', 'Kiosk',
       'Food Truck', 'Quick Bites, Dessert Parlor',
       'Beverage Shop, Dessert Parlor', 'Takeaway', 'Pub, Casual Dining',
       'Casual Dining, Bar', 'Dessert Parlor, Beverage Shop',
       'Quick Bites, Bakery', 'Dessert Parlor, Quick Bites',
       'Microbrewery, Casual Dining', 'Lounge', 'Bar, Casual Dining',
       'Food Court', 'Cafe, Bakery', 'Unknown', 'Dhaba',
       'Quick Bites, Sweet Shop', 'Microbrewery',
       'Food Court, Quick Bites', 'Pub, Bar', 'Casual Dining, Pub',
       'Lounge, Bar', 'Food Court, Dessert Parlor',
       'Casual Dining, Sweet Shop', 'Food Court, Casual Dining',
       'Casual Dining, Microbrewery', 'Sweet Shop, Dessert Parlor',
       'Bakery, Beverage Shop', 'Lounge, Casual Dining',
       'Cafe, Food Court', 'Beverage Shop, Cafe', 'Cafe, Dessert Parlor',
       'Dessert Parlor, Cafe', 'Dessert Parlor, Bakery',
       'Microbrewery, Pub', 'Bakery, Food Court', 'Club',
       'Quick Bites, Food Court', 'Bakery, Cafe', 'Bar, Cafe',
       'Pub, Cafe', 'Casual Dining, Irani Cafee', 'Fine Dining, Lounge',
       'Bar, Quick Bites', 'Bakery, Kiosk', 'Pub, Microbrewery',
       'Microbrewery, Lounge', 'Fine Dining, Microbrewery',
       'Fine Dining, Bar', 'Mess, Quick Bites', 'Dessert Parlor, Kiosk',
       'Bhojanalya', 'Casual Dining, Quick Bites', 'Pop Up', 'Cafe, Bar',
       'Casual Dining, Lounge', 'Bakery, Sweet Shop', 'Microbrewery, Bar',
       'Cafe, Lounge', 'Bar, Pub', 'Lounge, Cafe', 'Club, Casual Dining',
       'Quick Bites, Mess', 'Quick Bites, Meat Shop',
       'Quick Bites, Kiosk', 'Lounge, Microbrewery',
       'Food Court, Beverage Shop', 'Dessert Parlor, Food Court',
       'Bar, Lounge'], dtype=object)

In [51]:
dining=merged_data[merged_data["rest_type"].str.find("Dining")!=-1]
dining=dining.groupby(["listed_incity"]).agg({"approx_costfor_two_people":"mean"})
dining["approx_costfor_two_people"].nlargest(20)

listed_incity
MG Road                  1213.116057
Lavelle Road             1205.905512
Brigade Road             1205.334395
Church Street            1199.693252
Residency Road           1192.998205
Indiranagar              1068.717949
Old Airport Road         1044.102564
Malleshwaram              998.225806
Whitefield                972.811671
Frazer Town               957.936508
Rajajinagar               897.104247
Sarjapur Road             883.974359
Koramangala 5th Block     869.230769
Bellandur                 869.174041
Koramangala 4th Block     867.387821
Koramangala 6th Block     865.742397
Koramangala 7th Block     859.810127
Brookefield               857.142857
Marathahalli              818.779343
BTM                       816.778523
Name: approx_costfor_two_people, dtype: float64

5. Which restaurant type has the top rating with over 1000 votes

In [52]:
over_votes=merged_data[merged_data["votes"]>1000]

In [53]:
highest_rating=over_votes[over_votes["rate"]==over_votes["rate"].max()]

In [54]:
highest_rating["rest_type"].value_counts()

rest_type
Casual Dining, Bar    19
Casual Dining         14
Dessert Parlor        13
Microbrewery           6
Name: count, dtype: int64

 # How much does it cost at minimum to eat out in Bangalore?

In [55]:
l=merged_data["approx_costfor_two_people"].unique().tolist()
l.sort()
l=[i//2 for i in l]
l

[20.0,
 25.0,
 30.0,
 35.0,
 40.0,
 50.0,
 60.0,
 65.0,
 70.0,
 75.0,
 80.0,
 90.0,
 95.0,
 99.0,
 100.0,
 115.0,
 120.0,
 125.0,
 150.0,
 165.0,
 175.0,
 180.0,
 200.0,
 225.0,
 234.0,
 250.0,
 275.0,
 280.0,
 300.0,
 325.0,
 350.0,
 375.0,
 400.0,
 425.0,
 450.0,
 475.0,
 500.0,
 525.0,
 550.0,
 600.0,
 625.0,
 650.0,
 675.0,
 700.0,
 725.0,
 750.0,
 800.0,
 825.0,
 850.0,
 900.0,
 950.0,
 1000.0,
 1050.0,
 1100.0,
 1150.0,
 1200.0,
 1250.0,
 1300.0,
 1350.0,
 1400.0,
 1500.0,
 1600.0,
 1700.0,
 1750.0,
 1850.0,
 2000.0,
 2050.0,
 2250.0,
 2500.0,
 3000.0]

# What percentage of total online orders is received by restaurants in Banashankari?

In [56]:
total_banashankari=merged_data[(merged_data["online_order"]==1) & (merged_data["listed_incity"]=="Banashankari")]
total_banashankari

,online_order,book_table,rate,votes,rest_type,dish_liked,cuisines,approx_costfor_two_people,listed_intype,listed_incity,Latitude,Longitude
0,1,1,4.1,775,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800.0,Buffet,Banashankari,12.939333,77.553982
1,1,0,4.1,787,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800.0,Buffet,Banashankari,12.939333,77.553982
2,1,0,3.8,918,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800.0,Buffet,Banashankari,12.939333,77.553982
5,1,0,3.8,286,Casual Dining,"Onion Rings, Pasta, Kadhai Paneer, Salads, Sal...",North Indian,600.0,Buffet,Banashankari,12.939333,77.553982
7,1,1,4.6,2556,"Casual Dining, Cafe","Farmhouse Pizza, Chocolate Banana, Virgin Moji...","Pizza, Cafe, Italian",600.0,Cafes,Banashankari,12.939333,77.553982
...,...,...,...,...,...,...,...,...,...,...,...,...
839,1,0,3.7,57,Quick Bites,Not Available,"Juices, South Indian, Chinese, Fast Food",200.0,Dine-out,Banashankari,12.939333,77.553982
840,1,0,3.2,71,Quick Bites,Not Available,"Burger, Fast Food, Beverages",600.0,Dine-out,Banashankari,12.939333,77.553982
841,1,0,3.7,0,Quick Bites,Not Available,"North Indian, Chinese",300.0,Dine-out,Banashankari,12.939333,77.553982
851,1,0,3.2,11,Quick Bites,Not Available,"Beverages, Fast Food",150.0,Dine-out,Banashankari,12.939333,77.553982
852,1,0,3.6,17,Quick Bites,Not Available,"Chinese, Fast Food",300.0,Dine-out,Banashankari,12.939333,77.553982

In [57]:
len(merged_data[(merged_data["online_order"]==1)])

30444

In [58]:
len(total_banashankari)/len(merged_data[(merged_data["online_order"]==1)])*100

1.7934568387859677

# Total percentage of online orders

In [59]:
len(merged_data[(merged_data["online_order"]==1)])/len(df)*100

58.86652358025407

# Which locality has the most restaurants with over 500 votes and a rating below 3.0?

In [60]:
merged_data[(merged_data["votes"]>=500) & (merged_data["rate"]<3.0)]["listed_incity"].value_counts()

listed_incity
Brookefield              8
Whitefield               6
Indiranagar              4
Old Airport Road         4
Bellandur                3
Marathahalli             3
Banashankari             2
Koramangala 4th Block    2
Koramangala 5th Block    2
Koramangala 6th Block    2
Koramangala 7th Block    2
Sarjapur Road            2
HSR                      1
Kalyan Nagar             1
Kammanahalli             1
Name: count, dtype: int64

# In which area should Zomato invest by considering high rating (rate > 4.2), high number of votes (> 500) and including online orders?

In [61]:
merged_data[(merged_data["rate"]>4.2) &  (merged_data["votes"]>500) & (merged_data["online_order"]==1)]["listed_incity"].value_counts()

listed_incity
Koramangala 7th Block    97
MG Road                  97
Church Street            95
Koramangala 4th Block    95
Brigade Road             94
Koramangala 5th Block    92
BTM                      91
Koramangala 6th Block    90
Lavelle Road             82
Residency Road           81
Indiranagar              80
Old Airport Road         64
Frazer Town              56
Jayanagar                56
Bellandur                55
Whitefield               44
Sarjapur Road            43
HSR                      41
JP Nagar                 38
Brookefield              34
Marathahalli             32
Malleshwaram             31
Basavanagudi             24
Kammanahalli             23
Kalyan Nagar             23
Rajajinagar              22
Bannerghatta Road        19
Banashankari             11
New BEL Road              9
Electronic City           7
Name: count, dtype: int64

# What is the average rating of restaurants that serve both North Indian and Chinese cuisines?

In [72]:
both=merged_data[(merged_data["cuisines"].str.find("North Indian")!=-1) & (merged_data["cuisines"].str.find("Chinese")!=-1)]

In [73]:
both["rate"].mean()

3.5919080217658412

#  What is the maximum number of votes received by any restaurant with online ordering

In [75]:
merged_data[merged_data["online_order"]==1]["votes"].max()

16832

# What's the average cost difference between buffet and delivery restaurants

In [82]:
d1=merged_data[merged_data["listed_intype"]=="Buffet"]["approx_costfor_two_people"].mean()

In [83]:
d2=merged_data[merged_data["listed_intype"]=="Delivery"]["approx_costfor_two_people"].mean()

In [84]:
d1-d2

831.2513659898209